.frame5{
    margin: 58px auto;
    margin-bottom: 120px;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}
.Frame5container2 h1{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
}
.Frame5container2 p{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
color: #777777;
}
/* .container1,.container2, .container3{
   height: 50%;
    
  }
  .container1 img,.container2 img, .container3 img{
    height: 80%;
     
   } */